<%= auth_token %>

<label>Title: 
  <input type="text" name="post[title]" value="<%=post.title%>">
</label>
<label>URL: 
  <input type="text" name="post[url]" value="<%=post.url%>">
</label>
<label>Content: 
  <input type="text" name="post[content]" value="<%=post.content%>">
</label>
<ul>
  <% subs.each do |sub| %>
    <input type="checkbox" 
      name="post[sub_ids][]" 
      value="<%=sub.id%>"
      <%= "checked" if post.sub_ids.include?(sub.id) %> >
      <%= sub.title %> <br>
  <% end %>
</ul>