<h1><%= @sub.title %></h1>
<p><%= @sub.description %></p>

<a href="<%= edit_sub_url(@sub) %>">Edit Sub</a>
<a href="<%= subs_url %>">Back to Index</a>

<br>
<a href="<%= new_sub_post_url(@sub) %>">Make new Post</a>

<ul>
<% @sub.posts.each do |post| %>
  <li>
    <a href="<%=post_url(post)%>"><%= post.title %></a> 
  </li>  
<% end %>
</ul>

